:root {
  --textsm: 0.875rem;
  --background: #14181c;
}

.htmx-indicator {
  opacity: 0;
  size: 0;
  position: absolute;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1;
  position: relative;
}

.htmx-request.htmx-indicator {
  opacity: 1;
  position: relative;
}

body {
  color: #9ab;
}

nav a {
  font-size: var(--text-sm);
  line-height: 1.25rem;
  font-weight: 500;
  text-underline-offset: 0.25rem;
}

nav a:hover {
  text-decoration-line: underline;
}

html button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  height: 2.5rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: #00ac1c;
  color: #fff;
}

button:hover {
  background-color: #009d1a;
}
