package components

templ Tooltip(text string) {
	<span
		class="absolute hidden group-hover:block text-center bg-background-light text-text-color-accent font-semibold px-3 py-2 text-xs right-0 left-0 mx-auto w-fit bottom-full mb-4 rounded before:w-4 before:h-4 before:rotate-45 before:bg-background-light before:absolute before:z-[-1] before:top-full before:-mt-2 before:left-0 before:right-0 before:mx-auto"
	>
		{ text }
	</span>
}
